@import "../App.scss";

.ws-header {
    text-align: left;
    padding-left: 2rem;
}

.ws-description{
    padding-left: 5rem;
    align-items: center;
    text-align: left;
    
}

.ws-buttons {
    width: auto;
}